<table>
    <tr>
        <td>Dispositivo</td>
        <td>Estaus</td>
    </tr>
    <tr>
        {{#each devices as |d|}}
        <tr>
            <td>{{d.name}}</td>
            <td>
                {{#if (isOff d.status)}}
                <img src="https://img.icons8.com/color/48/000000/ok--v1.png"/>
                {{else}}
                <img src="https://img.icons8.com/color/48/000000/cancel.png"/>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tr>
</table>